* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #f6f8f9;
  font-family: "Roboto", sans-serif;
}

/* -----------------------------Phone */

/* Header */
.topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
}

i {
  font-size: 25px;
}

ul {
  display: none;
}

/* Section Card */
section {
  height: 376px;
  margin: auto;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  justify-content: center;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 32px;
  padding-top: 120px;
  font-weight: lighter;
  margin-bottom: 23px;
}

hr {
  width: 40px;
  margin: auto;
  border-color: #fa6980;
}

section p {
  font-size: 16px;
  padding: 24px;
  font-weight: bold;
}

/* form */

form {
  height: 326px;

  margin: auto;
  font-weight: bold;
  color: #202124;
  font-size: 13px;
  background-color: white;
  text-align: start;
  padding-left: 24px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

form p {
  padding: 35px 0px 10px 0px;
}

input {
  height: 40px;
  width: 327px;
  border-radius: 5px;
  border: solid #ebeded 2px;
}

input::placeholder {
  padding-left: 10px;
  color: #a6adb4;
  font-size: 13px;
}

button {
  margin-top: 30px;
  font-family: "Limelight", cursive;
  font-size: 11px;
  color: #ffffff;
  width: 151px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #fa6980;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  margin: auto;
  width: auto;
  padding-bottom: 0;
  background-color: #a6adb4;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
}

footer i {
  color: #ffffff;
  margin: 10px;
}

/* -------------------------------------------Tablet------------------ */
@media only screen and (min-width: 720px) {
  /* header */
  #listicon {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 15px;

    font-weight: bold;
    font-size: 11px;
  }

  header a {
    text-decoration: none;
    color: #a6adb4;
  }

  header a:hover {
    text-decoration: underline;
    color: black;
  }

  .topheader {
    margin: 0;
    padding-left: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 600px;
  }

  /* Section */
  section {
    width: 600px;
    height: 422px;
    margin: auto;
  }

  /* form */
  form {
    width: 600px;
    height: 400px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
    position: relative;
  }

  button {
    position: absolute;
    bottom: -19px;
    left: 37.5%;
  }
}

/* -------------------------------------------Desktop------------------ */
@media only screen and (min-width: 1080px) {
  /* Header */
  header {
    width: 1000px;
    margin: auto;
  }

  /* main */
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    height: 498px;
    width: 500px;
    margin: 0;
    padding-top: 70px;
  }

  form {
    height: 498px;
    width: 500px;
    padding-top: 149px;
    margin: 0;
    box-shadow: none;
    justify-content: center;
    align-items: center;
  }

  button {
    left: -77px;
  }

  /* footer */
  footer {
    margin-top: 50px;
  }
}
